.center {
    text-align: center;
    
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: oblique;
  }
  body {
    background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-solid-color-background.jpg");
    background-repeat: 2;
    background-position-y: top;
   }
  .left {
    display: flex;
    align-items: left;
  }