.center {
    text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100%;
        
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.leftp {
    top: 50%;
    left: 50%;
}
body {
    background-image: url("https://images2.alphacoders.com/691/691944.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
   }
   .color {
    background-image: url("https://www.martela.com/sites/default/files/styles/gallery_full/public/pim2022_files/MU43_light_grey_melamine_fullHD.jpeg?itok=e69l9_Zc");
    background-position-y: bottom;
    background-size: 100%;
   }
   .center2 {
    right: 50%s;
   }

 